<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Download facebook videos for free using Facebook Video Downloader">
    <meta name="author" content="iCoder">
    <title>Video Downloader</title>

    <link rel="canonical" href="https://getbootstrap.com/examples/cover/">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = '/css/bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = '/cover.css') }}" rel="stylesheet">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h4 class="masthead-brand">Video Downloader</h4>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link " href="/">Home</a>
                    <a class="nav-link active" href="/about">About</a>
                </nav>
            </div><br/><br/><br/>
            <div>
                <h2 align="left">Description</h2>
                <h5 align="left">
                    By using this website user can download videos from various different platform by providing the
                    video link.<br/>
                    platform from which user can download:
                    <div>1.YouTube</div>
                    <div>2.Facebook</div>
                    <div>3.Twitter</div>
                    <div>4.Instagram</div>
                </h5>
            </div>
            <div>
                <h2 align="left">Technology Used</h2>
                <h5 align="left">
                    This website is made in HTML & Bootstrap for frontend and for backend we have used Python
                    in which we have used Flash & youtube_dl libraries.
                </h5>
            </div>
        </header>
    </div>
</body>

</html>